body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:524px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:524px;
}
#u883 {
  position:absolute;
  left:2px;
  top:254px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:14px;
  top:156px;
  width:231px;
  height:310px;
}
#u885 {
  position:absolute;
  left:2px;
  top:147px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u887 {
  position:absolute;
  left:14px;
  top:437px;
  width:77px;
  height:29px;
  color:#0099FF;
}
#u888 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:172px;
  top:437px;
  width:73px;
  height:29px;
}
#u890 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:91px;
  top:437px;
  width:81px;
  height:29px;
}
#u892 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u895 {
  position:absolute;
  left:75px;
  top:259px;
  width:27px;
  height:1px;
  color:#CCCCCC;
}
#u896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u897 {
  position:absolute;
  left:106px;
  top:252px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u899 {
  position:absolute;
  left:157px;
  top:259px;
  width:27px;
  height:1px;
  color:#CCCCCC;
}
#u900 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:136px;
  top:281px;
  width:102px;
  height:53px;
}
#u902 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:136px;
  top:344px;
  width:102px;
  height:53px;
}
#u904 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:22px;
  top:344px;
  width:102px;
  height:53px;
}
#u906 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  position:absolute;
  left:22px;
  top:281px;
  width:102px;
  height:53px;
}
#u908 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u910 {
  position:absolute;
  left:36px;
  top:169px;
  width:28px;
  height:24px;
}
#u911 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u912 {
  position:absolute;
  left:90px;
  top:169px;
  width:28px;
  height:24px;
}
#u913 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u914 {
  position:absolute;
  left:144px;
  top:169px;
  width:28px;
  height:24px;
}
#u915 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u916 {
  position:absolute;
  left:198px;
  top:169px;
  width:28px;
  height:24px;
}
#u917 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u918 {
  position:absolute;
  left:30px;
  top:200px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u920 {
  position:absolute;
  left:83px;
  top:200px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u922 {
  position:absolute;
  left:138px;
  top:200px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u924 {
  position:absolute;
  left:191px;
  top:200px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:100px;
}
#u927 {
  position:absolute;
  left:14px;
  top:56px;
  width:231px;
  height:100px;
}
#u928 {
  position:absolute;
  left:2px;
  top:42px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u929 {
  position:absolute;
  left:90px;
  top:89px;
  width:136px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:83px;
  top:112px;
  width:136px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u933 {
  position:absolute;
  left:43px;
  top:87px;
  width:40px;
  height:40px;
}
#u934 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:248px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:381px;
  top:32px;
  width:394px;
  height:248px;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:10px;
  top:20px;
  width:374px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u938 {
  position:absolute;
  left:485px;
  top:20px;
  width:289px;
  height:260px;
  color:#FFFFFF;
  text-align:left;
}
#u939 {
  position:absolute;
  left:2px;
  top:34px;
  width:285px;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:226px;
  top:181px;
  width:0px;
  height:0px;
}
#u940_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u940_seg1 {
  position:absolute;
  left:87px;
  top:-29px;
  width:8px;
  height:33px;
}
#u940_seg2 {
  position:absolute;
  left:87px;
  top:-29px;
  width:68px;
  height:8px;
}
#u940_seg3 {
  position:absolute;
  left:140px;
  top:-35px;
  width:20px;
  height:20px;
}
#u941 {
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:43px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u942 {
  position:absolute;
  left:381px;
  top:323px;
  width:394px;
  height:43px;
}
#u943 {
  position:absolute;
  left:10px;
  top:10px;
  width:374px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:184px;
  top:260px;
  width:0px;
  height:0px;
}
#u944_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:136px;
  height:8px;
}
#u944_seg1 {
  position:absolute;
  left:128px;
  top:-4px;
  width:8px;
  height:93px;
}
#u944_seg2 {
  position:absolute;
  left:128px;
  top:81px;
  width:69px;
  height:8px;
}
#u944_seg3 {
  position:absolute;
  left:182px;
  top:75px;
  width:20px;
  height:20px;
}
#u945 {
  position:absolute;
  left:82px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u946 {
  position:absolute;
  left:381px;
  top:417px;
  width:394px;
  height:70px;
}
#u947 {
  position:absolute;
  left:10px;
  top:10px;
  width:374px;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:245px;
  top:452px;
  width:0px;
  height:0px;
}
#u948_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:140px;
  height:8px;
}
#u948_seg1 {
  position:absolute;
  left:121px;
  top:-10px;
  width:20px;
  height:20px;
}
#u949 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:0px;
  top:534px;
  width:775px;
  height:32px;
}
#u951 {
  position:absolute;
  left:2px;
  top:8px;
  width:771px;
  word-wrap:break-word;
}
