body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:53px;
}
#u85 {
  position:absolute;
  left:0px;
  top:10px;
  width:300px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u86 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:193px;
}
#u87 {
  position:absolute;
  left:0px;
  top:62px;
  width:800px;
  height:192px;
  text-align:left;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:141px;
}
#u89 {
  position:absolute;
  left:0px;
  top:311px;
  width:800px;
  height:140px;
  text-align:left;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  word-wrap:break-word;
}
